{% extends 'base.html' %}

{% block title %}News{% endblock %}

{% block extra_heads %}
	{% load static %}
	<link rel="stylesheet" href="{% static "/wired_app/homepage.css" %}">
{% endblock %}

{% block content %}
	<ul>
		{% for article in articles %}
			<li>
				<a href="{% url 'article-detail' article.slug %}">{{ article.title }}</a> - {{ article.publication_date|date }}
				<h5>{{ article.headline }}</h5>
				<p>{{ article.brief_body|safe }}</p>
			</li>
		{% empty %}
			<li>No articles yet.</li>
		{% endfor %}
	</ul>
{% endblock %}
